:root {
    --span-lavel-color: #868686;
    --border-line-gray-color: #cbcbcb;
}

* {
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

body {
    background-color: gray;
}

div.content {
    height: 100%;
    background-color: white;
    width: 100%;
    max-width: 500px;
    height: 100%;
    overflow-y: scroll;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content div.top {
    height: 50px;
    margin-top: 10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .middle_ {
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #b7b2b2;
    border-top: 5px solid #b7b2b2;

}

.content .middle .question>span:first-child {
    font-size: 1.2em;
    padding: 7px;
    margin: 7px;
}

span.option {
    display: block;
    border: 0px solid gray;
    margin: 7px;
    padding: 7px;
    border-radius: 4px;
    background-color: #ebf3ff;
}

div.middle {
    border-top: 3px solid #cbcbcb;
    border-bottom: 0px solid #cbcbcb;
    padding-bottom: 21px;
}

.sd-container {
    position: relative;
    float: left;
}

.sd {
    padding: 5px 10px;
    height: 30px;
    width: 150px;
}

.open-button {
    position: absolute;
    top: 10px;
    right: 11px;
    width: 25px;
    height: 25px;
    background: #fff;
    pointer-events: none;
}

.open-button button {
    border: none;
    background: transparent;
    font-size: 24px;
}

#date-picker {
    width: 25px;
    border: none;
    margin-bottom: 15px;
    /*font-size: 29px;
    margin-left: 13px;*/
    background-color: transparent;
}

#date-picker:focus {
    outline: none;
    /* Remove the default outline that appears on focus */
    border: none;
    /* Ensure the border remains none on focus */
}

.que-text {
    margin: 10px;
}

div.options {
    margin-top: 20px;
}

.content .middle .option.selected.correct,
span.option.correct-ans {
    background-color: #b6ebb6;
    border: 0px solid green;
}

.content .middle .option.selected.wrong,
span.option.wrong-ans {
    background-color: #efaab1;
    border: 0px solid red;
}

.fa-arrows-rotate:before {
    content: "\f021";
    color: gray;
    font-size: 23px;
    margin: 0px 8px;
}

.hide {
    display: none !important;
}

.que-tags {
    border-top: 1px solid rgb(176, 176, 176);
    margin: 5px;
    margin-top: 32px;
    padding: 10px;
}

span.question {
    margin: 7px;
    padding: 7px;
    display: inline-block;
    width: 92%;
}

.content .bottom {
    height: 50px;
    display: flex;
    align-content: center;
    margin-top: 50px;
}



button.new-question {
    border-radius: 5px;
    width: 100%;
    margin: 0px 15px;
    background-color: #e4e4e4;
    color: #49494d;
    border: none;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

button.new-question:hover_ {
    background-color: #4f37da;
}

.add-que {
    padding: 15px;
    background-color: beige;
}

.add-que textarea {
    padding: 10px;
}

.add-que .option {
    padding: 5px;
    margin: 10px 0px;
}

.d-f-v {
    display: flex;
    flex-direction: column;

}


.me-cp {
    cursor: pointer;
}

.option.disabled {
    pointer-events: none;
    cursor: default;
}

.setting {
    margin-left: auto;
}

.setting i::before {
    font-size: x-large;
}


.tags {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
}

.tag {
    margin: 4px;
    border: 0px solid gray;
    padding: 3px 10px;
    background-color: #efefef;
    color: #4680ff;
    border-radius: 17px;
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
}

.calender {
    display: flex;
}

.que-count {
    margin-left: 12px;
}

.calendar-icon {
    cursor: pointer;
    font-size: 23px;
    margin-right: 14px;
    margin-left: 14px;
}

.me-autocomplete-list {
    border: 1px solid gray;
    padding: 4px 10px;
    background-color: white;
    max-height: 200px;
    position: absolute;
    overflow-y: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.me-autocomplete-list {
    display: none;
}

.me-autocomplete-list.active {
    display: block;
}

.me-autocomplete-list div {
    padding: 5px 10px;
    cursor: pointer;
}

.me-autocomplete-list div:hover {
    background-color: rgb(212, 201, 201);
}

span.check-ans {
    display: block;
    text-align: center;
    border: 0px solid gray;
    padding: 7px;
    background-color: #f4e8ff;
    color: rgb(92, 92, 246);
}

.all-tags.tags {
    flex-wrap: wrap;
    margin: 20px;
    max-height: 200px;
}

.check-ans.me_ans {
    color: black;
}

.add-new-que {
    position: fixed;
    bottom: 20px;
    /* Adjust this value to change the distance from the bottom */
    right: 20px;
    /* Adjust this value to change the distance from the right */
    width: 50px;
    /* Adjust the width of the icon */
    height: 50px;
    /* Adjust the height of the icon */
    background-color: #e0e0e0;
    /* Change this to your desired background color */
    border-radius: 50%;
    /* Makes the icon circular */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Changes the cursor to a pointer when hovering over the icon */
}

.remove-tag {
    cursor: pointer;
}

.me-popup-alert {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F6DDCC;
    padding: 7px 40px;
    border-radius: 3px;
    width: 70%;
    text-align: center;
    width: fit-content;
}

.filtered-tags {
    display: block;
    padding-bottom: 18px;
    margin: 0px 20px;
}


span.all-tags {
    min-width: 100px;
    margin: 10px;
    margin-left: auto;
}

.link {
    color: #6464f4;
    cursor: pointer;
}

.update-gist {
    margin-top: 35px;
    width: fit-content;
    display: flex;
    float: left;
    color: blue;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.search-filter {
    border: 0px solid gray;
}

.search-filter input {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    text-align: center;
}

.prev-ques-list {
    display: flex;
    margin: 10px 20px;
    flex-wrap: wrap;
}

.prev-ques-list .prev-que {
    border: 0px solid gray;
    padding: 4px;
    border-radius: 34px;
    width: 7px;
    height: 7px;
    margin: 3px;
}

.prev-ques-list .prev-que.correct-ans {
    background-color: #b6ebb6;
}

.prev-ques-list .prev-que.wrong-ans {
    background-color: #efaab1;
}

div.prev-que.active {
    background-color: transparent;
    border: 2px solid blue;
}

div.today-que-info {
    border-top: 3px solid #cbcbcb;
    border-bottom: 3px solid #cbcbcb;
    margin: 15px 0px;
    padding: 10px 0px;
}

div.today-que-info span.label {
    color: var(--span-lavel-color);
    margin: 10px 20px;
}

i.refresh {
    margin-left: auto;
}

i.fa-bars.menu-icon {
    font-size: 20px;
}

.mobile-tab.overlay {
    position: absolute;
    display: block;
    top: 0;
    right: -300px;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    transition: right 0.9s ease-in-out;
    background-color: #183052;
    width: 77%;
}

.mobile-tab .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 29px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.mobile-tab.overlay .tab {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin: 10px 0px;
    cursor: pointer;
}

.mobile-tab.overlay .tab span.label,
.mobile-tab.overlay .tab i {
    color: white;
}

div.tab.separator {
    border: 1px solid gray;
    margin: 10px 0px;
}

.mobile-tab .tab-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.mobile-tab button {
    padding: 10px;
    margin: 0px;
    background-color: inherit;
    color: var(--header-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: var(--font-size);
}

.mobile-tab.overlay button.tab.save {
    display: flex;
    border: 0px;
    background-color: #6ec76e;
    width: fit-content;
    padding: 4px 17px;
    margin-left: auto;
}

/* About me page css*/
.about-me {
    margin-bottom: 30px;
}


.about-me div.image {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Optional: set a fixed width and height for the div if needed */

    height: 150px;
    border-radius: 85px;
}

.about-me div.image img {
    /* Optional: set a max-width to prevent the image from overflowing */
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px;
}

.cat-visibility::before {
    color: var(--label-color);
}




.about-me div.text {
    display: block;
}

.about-me .row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about-me .row.social-media img {
    width: 30px;
    margin: 7px;
}

.about-me div.text {
    display: flex;
    flex-direction: column;
}

.about-me .head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313285;
    margin: 41px 0px;
}

.about-me .head * {
    color: white;
}

.about-me .head h1 {
    font-size: 1.5em;
    padding: 0px 16px;
}

.about-me .head span {
    margin-left: auto;
    margin-right: 15px;
    border: 2px solid white;
    padding: 3px 6px;
    border-radius: 12px;
    cursor: pointer;
}

.about-me span.text {

    padding: 7px 15px;
    line-height: 1.5em;
    font-size: var(--font-size);
}